body{
    background-color:lightblue;
}

div{
    display:flex;
    justify-content:center;
}

.sub{
    display:flex;
    justify-content:center;
}

#heading{
    background-image:url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg");
    background-size:cover;
}

#list{
    display:flex;
    justify-content:center;
}

img{
    border-radius:400px;
    height:300px;
    width:300px;
}

h1{
    font-family: 'Indie Flower', cursive;
}

a{
    text-decoration:none;
    color:black;
    padding-top:50px;
}

#cap{
    display:flex;
    justify-content:space-around;
}



button{
    border-radius: 50px;
}

#img{
    padding-top:50px;
}

.projects{
    text-decoration:underline;
}

.ul{
    display:flex;
    justify-content:space-around;
}

#aWriting{
    padding-left:250px;
    padding-right:250px;
}