body{
    background-color:purple;
}

div{
    display:flex;
    justify-content:center;
}

img{
    border-radius:400px;
    height:300px;
    width:300px;
}

h1{
    font-family: 'Modern Antiqua', cursive;
}

a{
    text-decoration:none;
    color:black;
    padding-top:50px;
}